.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.5% 7.5%;
}
.cards__title {
    font-family: 'Exo 2';
    font-size: 5rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 4%;
}

.cards__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5.5%;
}
.cards__text {
    font-family: 'Exo 2';
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--main-color);
    border: none;
    background: #fff;
    cursor: pointer;
    transition: all 0.5s;
}
.cards__text:hover {
    transform: scale(1.1);
}
@media (max-width: 1500px) {
    .cards {
        padding: 4% 6%;
    }
}
@media (max-width: 1000px) {
    .cards {
        padding: 3% 5%;
    }
}
@media (max-width: 740px) {
    .slider-buttons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    .service__buttons_3row-right,
    .service__buttons_3row-left {
        text-decoration: none;
        max-width: 50px;
        max-height: 50px;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        font-family: 'Exo 2';
        font-size: 4.5rem;
        font-weight: 600;
        border-radius: 100px;
        border: none;
        color: var(--main-color);
        background-color: var(--secondary-color);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 7px;
        transition: all 0.3s;
    }
    .service__buttons_3row-left {
        transform: rotate(180deg);
    }
    .service__buttons_3row-right:active,
    .service__buttons_3row-left:active {
        background-color: var(--main-color);
        color: var(--white);
    }
}
@media (max-width: 500px) {
    .cards {
        padding: 3% 3%;
        margin-bottom: 30px;
    }
    .cards__title {
        margin-bottom: 30px;
    }
}
