.cards__card {
    height: auto;
    min-height: 30rem;
    max-height: 30rem;
    max-width: 40rem;
    min-width: 40rem;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.15);
}
.cards__card-img {
    min-height: 25rem;
    max-height: 25rem;
    max-width: 40rem;
    min-width: 40rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-bottom: -2px;
}
/* .cards__card-img {
    width: 100%;
    height: 100%;
    max-height: 325px;
    min-height: 325px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-bottom: -2px;
} */
.cards__card-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.2rem 1.5rem;
    font-family: 'Exo 2';
    font-size: 2.2rem;
    font-weight: 400;
    border-radius: 0 0 10px 10px;
    color: var(--main-color);
    background-color: var(--secondary-color);
}
@media (max-width: 1500px) {
    /*  .cards__card {
        width: 45%;
    } */
}
@media (max-width: 1000px) {
    .cards__card {
        margin-bottom: 5%;
    }
}
@media (max-width: 500px) {
    /*  .cards__card {
        width: 100%;
    } */
}
