.nav {
    display: flex;
    padding: 2.5rem 15rem;
    align-items: center;
    justify-content: center;
}
.nav__logo-box {
    display: flex;
    align-items: center;
    margin-right: 10%;
}
.nav__logo {
    margin-right: 2rem;
}
.nav__logo-textup {
    font-family: 'Montserrat';
    font-size: 4rem;
    font-weight: 600;
    color: var(--main-color);
}
.nav__logo-textdown {
    font-family: 'Exo 2';
    font-size: 4rem;
    font-weight: 400;
    color: var(--main-color);
}
.nav__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20%;
    gap: 8rem;
}
.nav__menu-link {
    text-decoration: none;
    color: var(--main-color);
    font-family: 'Exo 2';
    font-weight: 400;
    font-size: 2rem;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.7s;
}
.nav__menu-link:hover {
    font-size: 2.3rem;
}
.nav__phone {
    text-decoration: none;
    color: var(--main-color);
    font-family: 'Exo 2';
    font-weight: 600;
    font-size: 3rem;
    white-space: nowrap;
    transition: all 1.5s !important;
}
.nav__phone:hover {
    font-size: 3.3rem;
}
.nav__socials {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav__icon img {
    transition: all 0.7s;
}
.nav__icon:hover > img {
    transform: scale(1.5);
}
@media (max-width: 1400px) {
    .nav__menu {
        margin-right: 10%;
    }
    .nav__logo-textbox {
        margin-right: 5%;
    }
}
@media (max-width: 1100px) {
    .nav {
        padding: 2rem 10rem;
    }
    .nav__menu {
        gap: 3rem;
    }
}
@media (max-width: 900px) {
    .nav {
        flex-wrap: wrap;
        gap: 3rem;
    }
}
@media (max-width: 600px) {
    .nav__logo-box {
        margin-right: 0;
    }
    .nav__menu {
        margin-right: 0;
    }
}
