.banner {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.493) 27%, rgba(255, 255, 255, 0) 35%),
        url('../../assets/img/main-banner.webp');
    background-size: cover;
    background-position: 10% 5%;
    width: 100vw;
    height: 100vh;
    max-height: 800px;
    background-repeat: no-repeat;
    padding: 8% 0 220px 9%;
    object-fit: cover;
}
.banner__title {
    font-family: 'Exo 2';
    font-size: 5rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 4rem;
}
.banner__subtitle {
    font-family: 'Exo 2';
    font-size: 3.4rem;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 10rem;
}
.banner__button {
    text-decoration: none;
    padding: 2.5rem 5rem;
    font-family: 'Exo 2';
    font-size: 2.4rem;
    font-weight: 600;
    border-radius: 10px;
    color: var(--main-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    text-align: center;
}
.banner__button:hover {
    background-color: var(--main-color);
    color: var(--white);
}
.display_block_br {
    display: none;
}

@media (max-width: 600px) {
    .banner {
        padding: 5rem 3rem 3rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url('../../assets/img/main-banner.webp');
        background-size: cover;
        background-position: 70% 5%;
        max-height: 600px;
    }
    .banner__title {
        font-size: 3.8rem;
        margin-bottom: 2rem;
        background: rgba(255, 255, 255, 0.493);
        border-radius: 10px;
        padding: 10px;
        width: 100%;
    }
    .banner__subtitle {
        font-size: 2.8rem;
        margin-bottom: 5rem;
        background: rgba(255, 255, 255, 0.493);
        border-radius: 10px;
        padding: 10px;
        width: 100%;
    }
    .banner__button {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .banner {
        background-position: 70% 5%;
        padding: 5rem 2rem 2rem 2rem;
        max-height: 400px;
        margin-bottom: 20px;
    }
    .banner__title {
        font-size: 3rem;
    }
    .banner__subtitle {
        font-size: 2rem;
    }
    .display_block_br {
        display: block;
    }
}
